<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>This is what it's totally freakin' about!</h2>
            <img class="portrait" src="/img/MeetupHeadshot.jpg" alt="Your Webmaster">
        </div>
        {{>footer}}
    </body>
</html>